@import "../../style/variable";
.sell{
    input,textarea,select{
        width: 100%;
        background: transparent;
        margin: 7px 0;
        padding: 10px;
        color: $dark-bue;
        outline: $green;
        border-radius: 5px;
        box-shadow: none;
        border: 1px solid $dark-bue;
        &:focus{
                outline: 1px solid $green; 
                border-color: $green; 
        }
        
    }
    .selector{
        border-top: 2px solid $green;
        div{
            border-top: 3px solid $light-white;
        }
        .text-green{
            border-top: 3px solid $green;
        }
        :first-child,:nth-child(2){
            border-right:1px solid $green ;
        }
    }
}