@import "../../../style/variable";

.overlay {
    position: absolute;
    inset: 0;
    background: #0e253ea9;
    display: flex;
    flex-direction: column;

}

.call-back-form {
    @media (max-width:400px) {
        input {
            width: 80%;
        }

        button {
            padding: 6px 8px;
            font-size: 13px;
        }
    }
}