@import "../../../style/variable";

.media {
    .how-works-img {
        aspect-ratio: 4/3;

        img {
            object-fit: cover;
            border-radius: 10px 10px 0 0;
        }
    }

    .works-card {
        background: $dark-bue;
        border-radius: 10px;
        padding-bottom: 10px;
    }

   .arrows{
    height: 40px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    border: 2px solid $dark-bue;
    color: $dark-bue;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
   }

}