$green: #008e6e;
$light-green: #00c566;
$white: #ffffff;
$dark-bue: #0e253e;
$secondary-color: #28282b;
$dark-gray: #191919;
$dark-color: #00000f;
$light-white: #ffffff99;

// ---------------fonts--------------------------------------------
$heading: "Montserrat", serif;
$para: "Open Sans", serif;